<nav class="navbar navbar-light" style="background-color:cornflowerblue">
    <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-home" aria-hidden="true">Home</i></h6></a> 
    <a class="navbar-brand" routerLink="/admin-add-movie" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-plus-circle" aria-hidden="true">Add Movies</i></h6></a>
    <a class="navbar-brand" routerLink="/admin-add-genre" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-plus-circle" aria-hidden="true">Add Genre</i></h6></a>
    <a class="navbar-brand" routerLink="/admin-add-language" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-plus-circle" aria-hidden="true">Add Language</i></h6></a>
    <a class="navbar-brand" routerLink="/admin-dashboard" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-list" aria-hidden="true">Dashboard</i></h6></a>
    <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-sign-out" aria-hidden="true">Sign Out</i></h6></a>

   


  </nav>