
<div class="card border-success text-center">
    <div class="card-header bg-transperent border-danger">
    <nav class="navbar navbar-expand-sm bg-light navbar-light ">
      <a href="#" class="navbar-brand" style="font-size: 30px;">NMS Cinemas</a>
    
      <ul class="navbar-nav ">
          <li class="nav-item">
            <li><a routerLink="/home">Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
  
          <li class="nav-item">
            <li><a routerLink="/aboutus">AboutUs</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a routerLink="/admin-portal">Admin Portal</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a routerLink="/user-portal">User Portal</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a routerLink="/contactus">ContactUS</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      </ul>
    
      </nav>
    
  
      </div>
  </div>
<img  src="https://cdn.shopify.com/s/files/1/0317/8397/files/about_banner2.jpg?10644745255139821616" >
       
 
  <p style="font-weight:600;">NMS Cinemas is a chain of single screen theatres. </p>
    <p style="font-weight:600;">That screen movie shows of different genres and languages at very genuine prices.</p> 
    <p style="font-weight:600;">It was established in 2004 in Pune, India.</p>
    <p style="font-weight:600;">As we are growing as digital India, so we have also  started online booking of movie tickets from our Apps.</p>
<p style="font-weight:900;">For online Bookings,please go through our NMS Cinemas Website where you can get all the details of currently running Movie Shows.</p>
