<nav class="navbar navbar-light" style="background-color:cornflowerblue">
    <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-home" aria-hidden="true">Home</i></h6></a>
    <a class="navbar-brand" routerLink="/user-registration" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-registered" aria-hidden="true">Register Here</i></h6></a>
    <a class="navbar-brand" routerLink="/user-dashboard" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-eye" aria-hidden="true">Movie Shows</i></h6></a>
    <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-sign-out" aria-hidden="true">Sign Out</i></h6></a>
 </nav>
